p {
    margin: 0%!important;
    padding: 0%!important;
}

header {
    background-color: #F1FAEE;
}

footer {
    background-color: #E63946;
    color: #F1FAEE;
    padding-left: 2%;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

/* .margin-wrap input {
    margin: 1%!important;
} */