.bg-1 {
    background-color: #A8DADC;
    color: black;
    padding: 2%;
}

.bg-2 {
    background-color: #457B9D;
    color: #F1FAEE;
    padding: 2%;
}

.bg-3 {
    background-color: #1D3557;
    color: #F1FAEE;
    padding: 2%;
}