<h1>Shared Expenses</h1>
<form method='POST'>
    <label for="title">Expense Title:</label>
    <input type="text" id="title" name="title"><br>
    <label for="id">Cost:</label>
    <input type="number" id="cost" name="cost"><br>
    <!-- {% for friends in friends_list %} insert after database connection is added -->
    <input type="checkbox" id="friend1" name="friend1" value="FriendId">
    <label for="friend"> Friend Name1</label><br>
    <input type="checkbox" id="friend2" name="friend2" value="FriendId">
    <label for="friend2"> Friend Name2</label><br>
    
    
    <input type="submit" value="Submit">
</form>