{% extends 'users/base.html' %}

{% block body %}

<br>
<div>
    <a class="btn btn-outline-success" href="{% url 'newGoal' %}">Set New Goal</a>
</div>

<h3>Current Goals</h3>
{% for g in goals %}
    <br>
    <div class="form-wrapper">
        <div class="accordion" id={{g.goalname}}>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{g.goalname}}
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent=#{{g.goalname}}>
                    <div class="accordion-body">
                        <br>
                        <div class="newGoal">
                            Goal Name: {{g.goalname}}<br>
                            Amount: ${{g.amount}}<br>
                            Time: {{g.time}} months <br>
                            Rate: {{g.rate}} %<br>
                            Saving Must be Done to Reach the Goal: ${{payments.1}}/month
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}


{% endblock %}